/* General */
body{
    width: 800px; 
    margin: 0 auto;
    background: url(Images/phone_globe.jpg) no-repeat center;
    background-size: cover;
}

/* Styling the products display  */
img{
    width: 200px;
    height: 200px;
}

/* Typography */
h1,h2,footer{
    text-align: center;
}

/* Form styling  */
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
}

/* block styling  */
div{
    border: 5px solid black;
    display: flex;
}

.rotate img
{
  animation: rotation .3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
